/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
  width: 50%;
}

.hidden {
  display: none;
}

h1, h2 {
  text-align: center;
}

section {
  margin-left: 37%;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
